<div class="header">
    <h1 class="titulo">PROJECT 2 OLC1</h1>
    <h2 class="titulo"><b>OLC1_2S_2022 202010816</b></h2>
    <nav class="navegacion">
        <input style="display:none;" accept=".olc" type="file" (change)="CapturarArchivo($event, sendForm.value)"  #archivo>
        <button class="boton" mat-raised-button color="primary" (click)=AbrirArchivo(archivo)>Abrir</button>
        <button class="boton" mat-raised-button color="accent" (click)="GuardarArchivo(sendForm.value)">Guardar</button>
        <button class="boton" mat-raised-button color="primary">Nueva Ventana</button>
        <button class="boton" mat-raised-button color="accent">Cerrar Ventana</button>
        <button class="boton" mat-raised-button color="primary" (click)="setdata(sendForm.value)">RUN</button>
        <form #sendForm="ngForm">
            <textarea name="textarea" id="textarea" class="editor-container" style="width:800px;height:600px;border:1px solid blue;right: 100px;" ngModel> {entrada} </textarea>
        </form>
    </nav>
</div>
<div class="body-app">
    <div id="errors"></div>
</div>
<div class="footer-app">
    <button  class="boton-foot" mat-raised-button color="primary">Reporte AST</button>
    <button  class="boton-foot" mat-raised-button color="accent">Ver Tabla De Simbolos</button>
    <button  class="boton-foot" mat-raised-button color="primary" (click)="VerErrores1()">Ver Tabla De Errores</button>
</div>
<router-outlet></router-outlet>